.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;



}

.footer p {
  color: rgb(6, 168, 33);
  text-shadow: 2px 2px 4px #000000;
}
